.headerBar {
    background-color: darkblue;
    color: white;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.footerBar {
    background-color: darkblue;
    color: white;
    width: 100%;
    float: inline-end;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sideBar {
    background-color: aqua;
    width: 20%;
    float: left;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

img{
    border: solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 2px gray;
    width: 50%;
    margin-left: 20%;
    margin-right: 20%;
}

.mainTextArea{
    width: 75%;
    float: right;
    margin-left: -5px;
}

h2 {
    color: dodgerblue;
}

.label {
    font-weight: bold;
}

.detail{
    font-style: italic;
}

.intro {
    background-color: blueviolet;
    box-shadow: 2px 2px 2px gray;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 2%;
    margin-left: 2%;
}










#HTML


<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Home</title>
<link rel="stylesheet" href="css/style.css" />
</head>

<body>
    <div class="container">
    	<div class="headerBar">
        	<div class="titleBox">
            	<h1>Arjuna Ranathunga</h1>
                <h2>Sri Lanka Cricket Player</h2>
            </div>
        </div>
        <div class="mainContent">
            <div class="sideBar">
                <div class="picBox">
                    <img alt="arjuna" src="images/arjuna.jpg" />
                </div>
            	<p class="label">Full name : </p>
                <p class="detail">Arjuna Ranatunga</p>
				<p class="label">Date of birth : </p>
                <p class="detail">01 December  1963</p>
				<p class="label">Place of birth : </p>
                <p class="detail">Gampaha, Sri Lanka</p>
				<p class="label">Height : </p>
                <p class="detail">5 ft 8 in (1.73 m)</p>
				<p class="label">School : </p>
                <p class="detail">Ananda College, Colombo</p>
            </div>
        	<div class="mainTextArea">
                <div class="intro">
                    <h1>Introduction</h1>
                    <p>Deshamanya Arjuna Ranatunga (Sinhala: අර්ජුන රණතුංග; Tamil: அர்ஜூன ரணதுங்க; born 1 December 1963), is a Sri Lankan politician and former cricketer, who was the 1996 Cricket World Cup winning captain for Sri Lanka, and scored the winning boundary in the final. He is regarded as the pioneer who lifted the Sri Lankan cricket team from underdog status to a leading force in the cricketing world.</p>
                </div>
                
                <h1>Cricket Career</h1>
                
                <h2>Alma Mater</h2>

                <p>Ranatunga received his education at Ananda College, which has produced many known faces in Sri Lanka.Marvan Atapattu Sidath Wettimuny, Thilan Samaraweera, Dinesh Chandimal and Thilina Kandamby are among the players to pass out from Ananda College. He won the Observer Sri Lankan Schoolboy Cricketer of the Year award on two occasions in 1980 and 1982 and became the first person to receive the award twice.</p>

                <h2>Junior World Cricket</h2>

                <p>Ranatunga played for Sri Lanka under-20 against India under-20 in 1980. In his very first game, he scored 128 not out. That Indian team featured the likes of Ravi Shastri, Lalchand Rajput, Sadanand Vishwanath, Chandrakant Pandit, Laxman Sivaramakrishnan and Bharat Arun.</p>

                <h2>Early international career</h2>

                <p>Arjuna Ranatunga made his test debut on 17 February 1982 against England at the age of 18 in Sri Lanka's first ever test match at the P. Sara Oval. He scored 50 on test debut and also became the first Sri Lankan to score a half century in test cricket. He also shared a 99 run partnership with Ranjan Madugalle for the fourth wicket in Sri Lanka's inaugural test match. He was also working as an insurance broker in his early days of his international career. He made his debut World Cup appearance for Sri Lanka during the 1983 Cricket World Cup. He then featured in Sri Lanka's historical test match against England at Lord's in 1984 which also marked Sri Lanka's first ever test match at Lord's. </p>
            </div>
        </div>
        <div class="footerBar">
            <p>&copy;2024 Arjuna Ranatunga</p>
        </div>
	</div>
</body>
</html>

